extends template.pug

block content
    if products && products.length
        .products
            each p in products
                .product(id='id_' + p.id)
                    h3= p.name
                    h5
                        i= p.price + "$"
                    p= p.description
    else
        p No products found.


block form
    .footerDiv
        form(action="/products/create", method="post")
            label(for="name") Player Name: 
            input(type="text", name="name", placeholder="Player Name", required)
            label(for="price") Player PPG: 
            input(type="text", name="ppg", step="0.1", placeholder="Player PPG",required)
            label(for="category") Player RPG: 
            input(type="text", name="rpg", step="0.1",placeholder="Player RPG", required)
            label(for="category") Player APG: 
            input(type="text", name="apg", step="0.1", placeholder="Player APG", required)
            label(for="description") Player Description: 
            textarea(name="description", placeholder="Player Description", required)
            button(type="submit") Create Player