extends template.pug 

block content
    div#playersList
        if players && players.length
            each p in players
                include partial/playerCard.pug

        else
            h2 No players found.

block form
    if loggedIn 
        .footerDiv
            button(
                hx-on:click="document.getElementById('createForm').classList.toggle('hidden')"
                type="button"
            ) Create New Player

            div#createForm.hidden
                include partial/playerForm.pug