.form-container
    h2 Log in 
    if error
        p.error= error
        
    form(action="/main/login" method="POST" hx-post="/main/login" hx-target="closest .form-container" hx-swap="outerHTML")

        label(for="emailL") Email:
        input#emailL(type="email" name="email" required)

        label(for="passwordL") Password:
        input#passwordL(type="password" name="password" required)

        button(type="submit") Log in