.create-form
    h3 Create New Player

    form(
        hx-post="/myPlayer/create"
        hx-target="#playersList"
        hx-swap="afterbegin"
        hx-on:htmx:after-request="if(event.detail.xhr.status === 200) {this.reset(); document.getElementById('overallDisplay').textContent = '0'; document.getElementById('createForm').classList.add('hidden') }"
)
            .field.name
                label Player Name
                input(type="text", name="name", required)

            .field.team
                label Team
                select(name="team", required)
                    option(value="") Select Team
                    each t in teams
                        option(value=t selected=(team==t))= t
            .field
                label Layup
                input(type="number", name="lay", min="25", max="99", required)

            .field
                label Mid-Range
                input(type="number", name="mR", min="25", max="99", required)

            .field
                label 3PT
                input(type="number", name="tP", min="25", max="99", required)

            .field
                label Dunk
                input(type="number", name="dunk", min="25", max="99", required)

            .field
                label Defence
                input(type="number", name="def", min="25", max="99", required)

            .field
                label Rebound
                input(type="number", name="reb", min="25", max="99", required)

            .field
                label Handles
                input(type="number", name="hand", min="25", max="99", required)

            .field
                label Passing
                input(type="number", name="pass", min="25", max="99", required)

            .field
                label Speed
                input(type="number", name="spd", min="25", max="99", required)

            .field
                label Overall
                h2#overallDisplay 0

            .field
                button(type="button" id="random") Randomize Stats

            .field.desc
                label Description
                textarea(name="description", required)

            button(type="submit") Create Player