.form-container
    h2 Register user
    if error
        p.error= error
    if success
        p.success= success
    form(action="/main/register" method="POST" hx-post="/main/register" hx-target="closest .form-container" hx-swap="outerHTML")
        
        label(for="username") Username:
        input#username(type="username" name="username" required)

        label(for="email") Email:
        input#email(type="email" name="email" required)

        label(for="password") Password:
        input#password(type="password" name="password" required)

        button(type="submit") Register